body
{
  /*degradado*/
 background: linear-gradient(op, #FFFFFF, #006699); 
 background: -webkit-linear-gradient(top, #FFFFFF, #006699); 
 background: -moz-linear-gradient(top, #FFFFFF, #006699);
}

h1 
{
text-shadow: rgb(0,0,150) 4px 4px 5px;
animation-name: mover;
animation-duration: 2s;
transition: all 3s;

}

h2 
{
text-shadow: rgb(0,0,150) 4px 4px 5px;
transition: all 3s;

}

span 
{
  transform: translate(-500px,100px);
  -moz-transform: translate(-100px);
  -o-transform: translate(-100px);
  -ms-transform: translate(-100px);
  transition: all 2s;
}

.contenedorboton
{
  transition: ease 0.3s;
  -webkit-animation-name: efecto;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}


/*mover betun menu*/
.imagenmenu{
 -webkit-animation-name: mover;
 -webkit-animation-duration: 3s;
 -webkit-animation-delay: 2s;
 
 /*segunda animacion*/
 -webkit-animation-name: escala;
 -webkit-animation-duration: 1s;
 -webkit-animation-iteration-count: infinite;
 -webkit-animation-direction: alternate;
 /*-webkit-animation-play-state: paused;*/
}

#cabecera 
{
  /*opacity: 0.8;*/
   /*sombra al texto*/
  -moz-box-shadow: rgb(150,150,150) 5px 5px; 
  -webkit-box-shadow: rgb(150,150,150) 5px 5px; 
  box-shadow: rgb(150,150,150) 5px 5px;
  /*esquinas redondas*/
  -moz-border-radius: 20px 10px 30px 50px; 
  -webkit-border-radius: 20px 10px 30px 50px; 
  border-radius: 20px 10px 30px 50px;
  /*degradado*/
  background: -webkit-linear-gradient(top, #FFFFFF, #006699); 
  background: -moz-linear-gradient(top, #FFFFFF, #006699);
  
  }

article
{
  /*sombra*/ 
  box-shadow: #333 5px 5px 5px;
 /*degradado*/
 background: -o-linear-gradient(top, #FFFFFF, #006699);
 background: -webkit-linear-gradient(top, #FFFFFF, #006699); 
 background: -moz-linear-gradient(top, #FFFFFF, #006699);
 background: -o-linear-gradient(top, #FFFFFF, #006699); 
 background: -ms-linear-gradient(top, #FFFFFF, #006699);
  
 /*esquinas redondas*/
-moz-border-radius: 20px 10px 30px 50px; 
 -webkit-border-radius: 20px 10px 30px 50px; 
 border-radius: 20px 10px 30px 50px;
 
 /*trancision*/
 transition-duration: 3s
}

.imagenp
{
  /*opacity: 0.6;*/
  /*sombra*/ 
  box-shadow: #333 5px 5px 5px;
  transition: all 2s;/*tiempo para abrir menu*/
  
}

.imagenp:hover
{
  transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  /*opacity: 1;*/
  transform:scale(1.1,1) ;/*aumenta*/
  z-index: 5;
  
}

@-webkit-keyframes mover
{
  from{-webkit-transform:  translateX(-300px)
  rotate(0deg);}
  to{-webkit-transform: translateX(20px)
  rotate(360deg);}
}

@-webkit-keyframes escala
{
 0%{ -webkit-transform: scale(1,1);}
 50%{ -webkit-transform: scale(.5,.5);}
 100%{ -webkit-transform: scale(1,1);}   
}

@keyframes efecto
{
 0%
 {
   box-shadow: 0 0 0 0 rgba(0,0,0,0.85);
 }
 100%
 {
  box-shadow: 0 0 0 10px rgba(0,0,0,0);
   
 }
}
