
/*ocultar checbox*/
#botonmenu{
    display: none;
}

.imagenmenu
{
  display: none;
}

.menu 
{
   
    background: #3c5542;
    padding: 15px 25px;
    margin: 10px;

}

.menu label{
    display: none;
    width: 20px;
    height: 20px;
    padding: 10px;
    border-right: 1px solid #fff;

}

.menu label:hover{
 cursor: pointer;
 background: rgb(0,0,0,0.3);   
}

.menu ul{ /*organizar menu horizontal*/
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;

}


.menu li
{ /*alinear en toda la pantalla*/
    flex-grow: 1;
    font: bold 20px verdana, sans-serif;
}

.menu li:hover{
 background: rgba(0,0,0,0.3);   
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    
}



@media screen and (max-width:600px) 
{

    body
    {
      background: #9eeb94;
      font-size: 1em;
      
      /*degradado*/
      background: -webkit-linear-gradient(top, #FFFFFF, #006699); 
      background: -moz-linear-gradient(top, #FFFFFF, #006699);
  
    }
    
    .menu ul {/*menu hacia abajo*/
        flex-direction: column;
    }

    .menu li{/*colocar borde al menu */
        border-top: 1px solid #fff
        
    }
    
    .menu label {
        display: block;
    }

    .imagenmenu
    {
        display: block;
        padding: 20px;
        margin: 5px;
        float: right;
        width: 10%;
        background: #d7dcdd;
        
    }

    .menu{
        position: absolute;
        top:190px;
        left: 60px;
        background: #4E94ab;
        width: 50%;
        margin-left: -80%;/*ocultar menu*/ 
        transition: all 0.5s;/*tiempo para abrir menu*/
 
    }
    .menu li a
    {
      min-width: 1.5em;
      min-height: 1.5em;
      font-size: 40px;
    }   
    
    #botonmenu:checked ~ .menu{
        margin: 0px;
     } 
  }
 }
