body
{
  margin: 0;
  padding: 0;
  background-color:#beeb94;
  /*font-weight: 200;*/
  font-size: 1rem;
  font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
    

}

h1 
{
font: bold 2.2rem verdana, sans-serif;
color:#adb0e5;
text-align: center;
}

h2 
{
font: bold 2rem verdana, sans-serif;
text-align: center;
}

h3 
{
font: bold 1.5rem verdana, sans-serif;
text-align: center;
}

h4 
{
font: bold 1rem verdana, sans-serif;
text-align: center;
}
p

{
 text-align: center;
 font-size: 20px;
}

.logo
{
  width: 60px;
  float: left;
  margin: 5px;

}

.cant
{
  color: #cff17e;
  }

#numero
{
  font-size: 20px;
  color: #cff17e;
  background-color: #999999;
  width: 40px;
  margin: 5px;
}
.carrito
{
  width: 25px;
}

header, section, footer, aside, nav, article
{
  display: block;
}

#principal
 {
  
   width: 99%;
   margin: 3px 3px;
   text-align: left;
 }

#cabecera 
{
  width: 98%;
  background: #9eeb94;
  border: 1px solid #999999;
  padding: 5px;
  /*float: left;*/
  }

.contenedor1
{
 /* background-color: rgb(149, 149, 185);*/
  float: left;
  width: 94%;
  height: auto;
  margin: 2px;
  padding: 2px;

}



.article
{
  width: 95%;
  height: 50%;
  background: #FFFBCC;
  border: 1px solid #a82667;
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
  text-align: center;
  float: left;

}

#columna 
{
  float: left;
  width: 30%;
  margin: 20px 0px;
  padding: 20px;
  background: #9eeb94;
  border: 1px solid #999999;
  
}




.imagenp
{
  width: 50%;
  height: auto;
  padding: 4px 4px;
    
  
}

#pie 
{

 clear: both;
 text-align: center;
 padding: 20px;
 border-top: 2px solid #999999;

}

footer li 
{
    display: inline-block;
    padding: 0 15px;
}

footer li a img 
{
 float:left;
 width: 30px;
 border-radius: 50%;
 overflow: hidden;
 padding-left: 10px;   
}

.rango
{
  display: inline-block;
  width: 20px;
  height: 150px;
  padding: 0;
}

.rango  {
  display: inline-block;
  width: 300px;
  height:50px;
  padding: 20px 5px;
  margin: 10px;
  border: 3px solid #000;
  background-color: rgb(178, 237, 100);
  font-size: 1.5rem;
  color: #a82667;
  /*transform-origin: 75px 75px;
  transform: rotate(-90deg);*/
}

.rango input
{
  font-size: 1.2rem;
  color: #a82667;
  margin: 3px;
}

.boton
{
  background: #4a811f;
  text-align: center;
}
/*Responsive */
@media screen and (max-width: 780px) {
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 440px) {
  #principal
  {
    width: 98%;
  }
  
  #cabecera 
{
  width: 94%;
}  
  .imagenp
  {
    max-width: 96%;
    width: 96%;
    height: auto;
    background: transparent;
    border-radius: 50%;
  }

}