body
{
  margin: 0;
  padding: 0;
  background-color:#beeb94;
  font-weight: 200;
  font-size: 1.5em;
  font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}

.migrilla {
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: 300px 300px 300px 300px;
  }

  .migrilla > * {
    width: 90%;
    margin: 5px 15px;
    padding: 5px 5px ;
    font-size: 1.875rem;
    font-weight: 800;
    text-align: center;
    background: #add1f0;
    border: 3px solid #45dc5e;
    color: #457fdc;
  }

 .migrilla div img
{
    width: 90%;
    height: 90%;
    object-fit: cover;
    margin: 10px auto;
    
}
