body
{
    margin: 0;
    padding: 0;
    background-color:#beeb94;
    /*font-weight: 200;*/
    font-size: 1rem;
    font-family: "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    
    /*degradado*/
background: -webkit-linear-gradient(top, #FFFFFF, #006699); 
background: -moz-linear-gradient(top, #FFFFFF, #006699);

}

h1 
{
font: bold 2.2rem verdana, sans-serif;
color:#adb0e5;
text-shadow: rgb(0,0,150) 4px 4px 5px;
}

h2 
{
font: bold 2rem verdana, sans-serif;
text-shadow: rgb(0,0,150) 4px 4px 5px;
}

h3 
{
font: bold 1.5rem verdana, sans-serif;

}

p
{
 text-align: center;
 font-size: 30px;
}

#numero
{
  font-size: 30px;
  width: 50px;
}
header, section, footer, aside, nav, article
{
  display: block;
}

#principal
 {
  
   width: 99%;
   margin: 3px 3px;
   text-align: left;
 }

#cabecera 
{
  width: 98%;
  background: #9eeb94;
  border: 1px solid #999999;
  padding: 5px;
  text-align: center;
  /*sombra al texto*/
-moz-box-shadow: rgb(150,150,150) 5px 5px; 
 -webkit-box-shadow: rgb(150,150,150) 5px 5px; 
 box-shadow: rgb(150,150,150) 5px 5px;
 /*esquinas redondas*/
-moz-border-radius: 20px 10px 30px 50px; 
 -webkit-border-radius: 20px 10px 30px 50px; 
 border-radius: 20px 10px 30px 50px;
 /*degradado*/
background: -webkit-linear-gradient(top, #FFFFFF, #006699); 
 background: -moz-linear-gradient(top, #FFFFFF, #006699);
  
}

.contenedor1
{
 /* background-color: rgb(149, 149, 185);*/
  float: left;
  width: 94%;
  height: auto;
  margin: 3px;
  padding: 3px;

}



article
{
  width: 95%;
  height: 50%;
  background: #FFFBCC;
  border: 1px solid #a82667;
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
  text-align: center;
  float: left;

  
  
 /*degradado*/
background: -webkit-linear-gradient(top, #FFFFFF, #006699); 
 background: -moz-linear-gradient(top, #FFFFFF, #006699);
  
 /*esquinas redondas*/
-moz-border-radius: 20px 10px 30px 50px; 
 -webkit-border-radius: 20px 10px 30px 50px; 
 border-radius: 20px 10px 30px 50px;
 /*trancision*/

}

#columna 
{
  float: left;
  width: 30%;
  margin: 20px 0px;
  padding: 20px;
  background: #9eeb94;
  border: 1px solid #999999;
  
}



.imagenp
{
  width: 50%;
  height: auto;
  padding: 5px 5px;
  
}

#pie 
{

 clear: both;
 text-align: center;
 padding: 20px;
 border-top: 2px solid #999999;

}

footer li 
{
    display: inline-block;
    padding: 0 15px;
}

footer li a img {
    float:left;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    padding-left: 10px;
}

/*Responsive */
@media screen and (max-width: 780px) {
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 440px) {
  #principal
  {
    width: 98%;
  }
  
  #cabecera 
{
  width: 94%;
}  
  .imagenp
  {
    max-width: 96%;
    width: 96%;
    height: auto;
    background: transparent;
    border-radius: 50%;
  }

}